<% provide(:title, 'Show Page') %>

<h1>Page Management</h1>

<%= render 'menu' %>

<h2>Show Page</h2>

<div class="form">
  <%= render 'form_view' %>
</div>

<div class="page-show">
  <% if File.exists?(Rails.root.join("app", "views", params[:controller], "partials", "_#{@page.filename}.html.erb")) %>
    <%= render "pages/partials/#{@page.filename}" %>
  <% else %>
    Page not found.
  <% end %>
</div>

<div class="clear"></div>
