<h1>About Me</h1>

<%= render 'layouts/child_pages_navigation', :url => @page.url %>
        
<div class="self-image">
  <%= image_tag "sohei_lake_tahoe_225x300.jpg", class: "decorated-image", alt: "Sohei at Lake Tahoe" %>
</div>

<p>
  I am originally from Japan, has made Reno, Nevada, USA my new home. I came to Nevada in 1999 and since then I have earned two degrees from the University of Nevada, Reno (UNR), a Bachelor of Arts in Psychology (2003) and a Master of Science in Computer Science (2005).
</p>

<p>
  I have earned a PhD degree in Computer Science (2011) at the same university, with my advisor, <a href="http://www.cse.unr.edu/~dascalus" target="_blank">Dr. Sergiu Dascalu</a>, who is also a mentor and a friend providing me invaluable supports.
</p>

<p>
  My main research interest is in human-computer interaction, web application development, project management, and software engineering, while my curiosity is open to various fields.
</p>

<p>
  My most recent assignment as Postdoctoral Scholar at UNR involves me as a member of the Cyberinfrastructure team in the NSF-funded project "Nevada Infrastructure for Climate Change, Education, and Science". My job is to perform research and software engineering work on creating software frameworks that support interdisciplinary climate change research.
</p>

<div class="resume">
  <%= link_to "R&#233;sum&#233;".html_safe, "resume_sohei_okamoto.pdf", :target => '_blank' %>
  <br />
  <%= link_to image_tag("resume_sohei_okamoto.png", class: "decorated-image", alt: "Sohei Okamoto's Resume"), "resume_sohei_okamoto.pdf", :target => '_blank' %>
</div>
