<h1><%= @page.title %></h1>

<%= render 'layouts/child_pages_navigation', :url => @page.url %>
        
<ul>
  <li><a target="_blank" href="http://www.unr.edu" title="University of Nevada, Reno (UNR)">University of Nevada, Reno (UNR)</a></li>

  <li><a target="_blank" href="http://www.cse.unr.edu" title="Department of Computer Science &amp; Engineering at UNR">Department of Computer Science &amp; Engineering at UNR</a></li>

  <li><a target="_blank" href="http://knowledgecenter.unr.edu" title="Knowledge Center (Library) at UNR">Knowledge Center (Library) at UNR</a></li>

  <li><a target="_blank" href="http://renojapanese.com" title="Reno Japanese (リノ日本人会)">Reno Japanese (リノ日本人会)</a></li>

  <li><a target="_blank" href="http://portal.acm.org/dl.cfm" title="ACM Digital Library">ACM Digital Library</a></li>

  <li><a target="_blank" href="http://ieeexplore.ieee.org" title="IEEE Xplore">IEEE Xplore</a></li>
</ul>
