<%= render 'layouts/breadcrumb' %>

<h1><%= @page.title %></h1>

<%= render 'layouts/child_pages_navigation', :url => @page.url %>

<div class="publication-list">

  <div class="publication-block">
    <div class="publication-title">Web-Enabled Toolkit for Data Interoperability Support</div>
    <div class="publication-authors">J. Patel, <span class="author-emphasis">S. Okamoto</span>, S. Dascalu, and F.C. Harris, Jr.</div>
    <div class="publication-info">Proc. 21st ISCA Int'l Conf. on Software Engineering and Data Engineering (SEDE 2012), 2012, pp. 161-166</div>
  </div>

  <div class="publication-block">
    <div class="publication-title">Coupout - A Restaurant Coupon System for Smart Phones</div>
    <div class="publication-authors">Q. Yan, D. Guevarra, and <span class="author-emphasis">S. Okamoto</span></div>
    <div class="publication-info">Proc. 21st ISCA Int'l Conf. on Software Engineering and Data Engineering (SEDE 2012), 2012, pp. 173-178</div>
  </div>

  <div class="publication-block">
    <div class="publication-title">SUNPRISM: An Approach and Software Tools for Collaborative Climate Change Research</div>
    <div class="publication-authors"><span class="author-emphasis">S. Okamoto</span>, R.V. Hoang, S. Dascalu, F.C. Harris, Jr., and N. Belkhatir</div>
    <div class="publication-info">Proc. 13th Int'l Conf. on Collaboration Technologies and Systems (CTS 2012), 2012, pp. 583-590</div>
  </div>
  
  <div class="publication-block">
    <div class="publication-title">Towards a Software Framework for Model Interoperability</div>
    <div class="publication-authors">S. Dascalu, E. Fritzinger, <span class="author-emphasis">S. Okamoto</span>, and F.C. Harris, Jr.</div>
    <div class="publication-info">Proc. 9th IEEE Int'l Conf. on Industrial Informatics (INDIN 2011), 2011, pp. 705-710</div>
  </div>

  <div class="publication-block">
    <div class="publication-title">CAVEMANDER: Creating 3-D Command-and-Control Scenarios for the CAVE Automatic Virtual Environment</div>
    <div class="publication-authors">M. Muhanna, S. Buntha, <span class="author-emphasis">S. Okamoto</span>, M. McMahon, Jr., S. Dascalu, and F.C. Harris, Jr.</div>
    <div class="publication-info">Proc. 16th Int'l Conf. on Distributed Multimedia Systems (DMS 2010), 2010, pp. 300-304</div>
  </div>

  <div class="publication-block">
    <div class="publication-title">Towards an intelligent software tool for enhanced model interoperability in climate change research</div>
    <div class="publication-authors"><span class="author-emphasis">S. Okamoto</span>, E. Fritzinger, S. Dascalu, F.C. Harris, Jr., S. Latifi, and M. McMahon, Jr.</div>
    <div class="publication-info">Proc. World Automation Congress (WAC 2010), 2010, 6 pages</div>
  </div>

  <div class="publication-block">
    <div class="publication-title">A GUI Wizard for Developing Command and Control Applications in CAVE</div>
    <div class="publication-authors">S. Buntha, M. Muhanna, <span class="author-emphasis">S. Okamoto</span>, S. Dascalu, and F.C. Harris, Jr.</div>
    <div class="publication-info">Proc. 4th IASTED Int'l Conf. on Human-Computer Interaction (IASTED-HCI 2009), 2009, pp. 301-308</div>
  </div>

  <div class="publication-block">
    <div class="publication-title">Software Environment for Tactical Training with Trajectory Planning through Multiple Moving Targets</div>
    <div class="publication-authors">S. Buntha, S. Dascalu, N. Debnath, <span class="author-emphasis">S. Okamoto</span>, and P. Buntha</div>
    <div class="publication-info">Proc. IEEE Int'l Conf. on Electro/Information Technology (EIT 2007), 2007, pp. 163-168</div>
  </div>

  <div class="publication-block">
    <div class="publication-title">Web Interface Development Environment (WIDE): Software Tool for Automatic Generation of Web Application Interfaces</div>
    <div class="publication-authors"><span class="author-emphasis">S. Okamoto</span>, S. Dascalu, and D. Egbert</div>
    <div class="publication-info">Proc. World Automation Congress (WAC 2006), 2006, 7 pages</div>
  </div>

  <div class="publication-block">
    <div class="publication-title">Crown Vision: Metrics Visualization for Project Management</div>
    <div class="publication-authors">S. Dascalu, N. Brown, <span class="author-emphasis">S. Okamoto</span>, S. Buntha, and N. Chawla</div>
    <div class="publication-info">Proc. 21st ISCA Int'l Conf. on Computers and Their Applications (CATA 2006), 2006, pp. 246-253</div>
  </div>

</div>

