<%= render 'layouts/breadcrumb' %>

<h1><%= @page.title %></h1>

<%= render 'layouts/child_pages_navigation', :url => @page.url %>

<p>
	This post describes how to setup Ruby on Rails on Windows to start developing a Rails application for the first time.<br />
</p>
<p>
  I attempted initially to setup Rails with XAMPP or Apache, but they did not seem to work well together.<br />
	The following shows how to setup the Rails development environment (on Windows) using Rails' built-in WEBrick web server.
</p>

<ol type="1" class="steps">
	<li>
	  Download RubyInstaller from <a target="_blank" href="http://rubyinstaller.org/downloads">http://rubyinstaller.org/downloads</a>.
  </li>

  <li>
    Install Ruby using the installer. You can install Ruby on any directory (the following uses <span class="code">C:\ruby</span>). 
  </li>

  <li>
	  <div class="code"><p>cd C:\ruby\bin</p></div>
  </li>

  <li>
    <div class="code"><p>gem update</p></div>
    
    <p>When you get the following error:</p>
    
    <div class="code-error">
      ERROR:  Error installing json:<br />
      The 'json' native gem requires installed build tools.<br /><br />
      Please update your PATH to include build tools or download the DevKit from 'http://rubyinstaller.org/downloads' and follow the instructions at 'http://github.com/oneclick/rubyinstaller/wiki/Development-Kit'
    </div>

    <ol type="1">
      <li>
        Install DevKit:
        
        <ol type="1">
          <li>
            Download DevKit from <a target="_blank" href="http://rubyinstaller.org/downloads">http://rubyinstaller.org/downloads</a>.
          </li>
          
          <li>
            Extract to a folder (the following uses <span class="code">C:\ruby-devkit</span>).
          </li>
          
          <li>
            <div class="code"><p>cd C:\ruby-devkit</p></div>
          </li>
          
          <li>
            <div class="code"><p>ruby dk.rb init</p></div>
          </li>
        
          <li>
            Check if <span class="code">config.yml</span> has the right Ruby installed path.
          </li>
        
          <li>
            <div class="code"><p>ruby dk.rb review</p></div> 
            (optional)
          </li>
        
          <li>
            <div class="code"><p>ruby dk.rb install</p></div>
          </li>
        </ol>
      </li>
      
      <li>
        Run again.
      </li>
    </ol>
  </li>

  <li>
	  <div class="code"><p>gem install rails --include-dependencies</p></div>
	  
	  <p>When you get the following error:</p>
	  
	  <div class="code-error">
			ERROR:  While generating documentation for i18n-0.6.0<br />
			... MESSAGE:   error generating I18n.html: incompatible encoding regexp match (UTF-8 regexp with IBM437 string) (Encoding::CompatibilityError)<br />
			... RDOC args: --op C:/ruby/lib/ruby/gems/1.9.1/doc/i18n-0.6.0/rdoc lib --title i18n-0.6.0 Documentation --quiet
		</div>
		
    <ol type="1">
      <li>
			  <div class="code"><p>set RDOCOPT="--encoding=UTF-8"</p></div>
			  (See <a target="_blank" href="http://tinkeringruby.blogspot.com/2012/01/heroku-installation.html">http://tinkeringruby.blogspot.com/2012/01/heroku-installation.html</a>)
			</li>
      <li>
        Run again.
      </li>
    </ol>
  </li>

  <li>
	  <div class="code"><p>cd new-app-path</p></div>
	  (Go to a folder for a new Rails application)
	</li>
	
  <li>
	  <div class="code"><p>rails new new-app-name</p></div>
		
	  <p>When you get SSL error, like the following:</p>
		
	  <div class="code-error">
		  Gem::RemoteFetcher::FetchError: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (https://rubygems.org/gems/rake-0.9.2.2.gem)<br />
    </div>

    <ol type="1">
      <li>
		  	Create <span class="code">gemrc</span> file at the home path, with the following line:<br />
		  	<span class="code">:ssl_verify_mode: 0</span><br />
		  	(See <a target="_blank" href="http://stackoverflow.com/questions/10246023/bundle-install-fails-with-ssl-certificate-verification-error">http://stackoverflow.com/questions/10246023/bundle-install-fails-with-ssl-certificate-verification-error</a>)
      </li>
    </ol>
  </li>
	
  <li>
	  <div class="code"><p>cd new-app-name</p></div>
	  (Go inside the new Rails application folder)
	</li>
	
  <li>
	  <div class="code"><p>rails server</p></div>
  </li>

  <li>
	  Test to see the new Rails application at <span class="code">http://localhost:3000</span> (from an internet browser).
	</li>

