<%= render 'layouts/breadcrumb' %>

<h1><%= @page.title %></h1>

<%= render 'layouts/child_pages_navigation', :url => @page.url %>

<div class="work-experience-list">

  <div class="work-experience-block">
    <div class="work-experience-position-block">
      <div class="work-experience-position">
        <div class="work-experience-duration">Apr 2009 – Dec 2011</div>
        <div class="work-experience-title">Research Assistant</div>
      </div>
      <div class="work-experience-position">
        <div class="work-experience-duration">Jan 2012 – Present</div>
        <div class="work-experience-title">Postdoctoral Scholar</div>
      </div>
    </div>
    
    <div class="work-experience-institution">
      Dept. of Computer Science and Engineering,<br />
      University of Nevada, Reno, NV
    </div>
    
    <div class="work-experience-description">
      Developed a new software framework to support collaborations in climate change research, with visual dataflow interface and capabilities for automatic code generation and immersive data visualization.
    </div>
  </div>
  
  
  <div class="work-experience-block">
    <div class="work-experience-position-block">
      <div class="work-experience-position">
        <div class="work-experience-duration">Mar 2004 – Jul 2009</div>
        <div class="work-experience-title">Graduate Assistant</div>
      </div>
    </div>
    
    <div class="work-experience-institution">
      Disability Resource Center,<br />
      University of Nevada, Reno, NV
    </div>
    
    <div class="work-experience-description">
      Developed a database web application to track alternative text requests and production, a survey management system to create online surveys, and an interactive text-to-speech application for Mac OS.
    </div>
  </div>
  
  
  <div class="work-experience-block">
    <div class="work-experience-position-block">
      <div class="work-experience-position">
        <div class="work-experience-duration">May 2007 – Mar 2010</div>
        <div class="work-experience-title">Research Assistant</div>
      </div>
    </div>
    
    <div class="work-experience-institution">
      Dept. of Internal Medicine,<br />
      University of Nevada, Reno, NV
    </div>
    
    <div class="work-experience-description">
      Developed new tools to assess energy balance in practice, with cascaded circular slide rules to estimates total energy expenditure and energy intake, using Mifflin-St Jeor equation (MSJE).
    </div>
  </div>
  
  
  <div class="work-experience-block">
    <div class="work-experience-position-block">
      <div class="work-experience-position">
        <div class="work-experience-duration">Oct 2006 – Jan 2009</div>
        <div class="work-experience-title">Research Assistant</div>
      </div>
    </div>
    
    <div class="work-experience-institution">
      Dept. of English,<br />
      University of Nevada, Reno, NV
    </div>
    
    <div class="work-experience-description">
      Developed an interactive on-line reports generator and data exporter for sociolinguistics experiments.<br />
      Generated various graphical charts in Excel for data visualization, and various statistical reports in SPSS.
    </div>
  </div>
  
  
  <div class="work-experience-block">
    <div class="work-experience-position-block">
      <div class="work-experience-position">
        <div class="work-experience-duration">Dec 2006 – May 2007</div>
        <div class="work-experience-title">Research Assistant</div>
      </div>
    </div>
    
    <div class="work-experience-institution">
      Quadrant-One, Inc., Washington, DC
    </div>
    
    <div class="work-experience-description">
      Developed an Excel-based project management tool for cost, duration, and rework analysis.
    </div>
  </div>
  
  
  <div class="work-experience-block">
    <div class="work-experience-position-block">
      <div class="work-experience-position">
        <div class="work-experience-duration">May 2002 – Aug 2002</div>
        <div class="work-experience-title">Research Assistant</div>
      </div>
      <div class="work-experience-position">
        <div class="work-experience-duration">May 2003 – Aug 2003</div>
        <div class="work-experience-title">Research Assistant</div>
      </div>
    </div>
    
    <div class="work-experience-institution">
      IBM Almaden Research Center, San Jose, CA
    </div>
    
    <div class="work-experience-description">
      Developed a genomic analysis tool using signal processing algorithms to detect salient changes.<br />
      Developed object recognition and verification algorithms using computer vision techniques.
    </div>
  </div>

</div>

