body, div, td, th, h1, h2, h3, h4 { /* redundant rules for bad browsers  */  
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: normal;
	color: #333333;
	margin: 0;
	padding: 0;
}

body {
  width: 900px;
  margin: auto;
  background: #eeeeee;
}

@mixin box-shadow($h-shadow: 0px, $v-shadow: 0px, $blur: 7px, $color: #888888, $inset: '') {
  box-shadow: $h-shadow $v-shadow $blur $color #{$inset};
  -moz-box-shadow: $h-shadow $v-shadow $blur $color #{$inset};
  -webkit-box-shadow: $h-shadow $v-shadow $blur $color #{$inset};
}

@mixin border-radius($length: '', $direction: '') {
  @if $length == '' {
    $length: 5px;
  }
  
  @if $direction == '' {
    border-radius: $length;
    -moz-border-radius: $length;
    -webkit-border-radius: $length;
  }
  @else {
    border-#{$direction}-radius: $length;
    -moz-border-#{$direction}-radius: $length;
    -webkit-border-#{$direction}-radius: $length;
  }
}

$border-bottom-radius: 7px;
$side-padding: 25px;

.site-container {
  margin-bottom: 30px;
  @include box-shadow;
  @include border-radius($border-bottom-radius, bottom-left);
  @include border-radius($border-bottom-radius, bottom-right);
}

.navigation-bar {
  height: 23px;
  padding: 5px 10px 0px 10px;
  border: 1px solid #333333;
  background: #222222;
    
  #logo {
    float: left;
  }
  
  a {
    color: #dfdfdf;
    text-decoration: none;
            
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  
  nav {
    margin-left: 270px;
    
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        float: left;
        height: 21px;
        margin: 0px 0px 0px 20px;
        padding: 1px 10px;
        font-size: 0.9em;
        
        &.current {
          padding: 1px 9px;
          border: 1px solid #cccccc;
          @include border-radius(5px, top-left);
          @include border-radius(5px, top-right);
          border-bottom: 1px solid #ffffff;
          background: #ffffff;
          
          a {
            color: #333333;
          }
        }
      }
    }
  }
}

.container {
  padding: 15px $side-padding 30px $side-padding;
  border: 1px solid #cccccc;
  font-size: 0.9em;
  background: #ffffff;
}

footer {
  height: 25px;
  padding: 6px $side-padding 0px $side-padding;
  border: 1px solid #cccccc;
  border-top: none;
  @include border-radius($border-bottom-radius, bottom-left);
  @include border-radius($border-bottom-radius, bottom-right);
  background: #e5e5e5;
  
  .copyright {
    padding-top: 3px; 
    font-size: 0.75em;
  }
  
  /*
  nav {
    float: right;
  }
  */
}

h1 {
  margin: 15px 0px 20px 0px;
  font-size: 1.4em;
  font-weight: normal;
}

h2 {
  margin: 5px 0px 10px 0px;
  font-size: 1.2em;
  font-weight: normal;
}

p {
  margin: 0px 0px 10px 0px;
}

a { 
  text-decoration: none;
  color: #3333cc;
  
  &:hover {
    text-decoration: underline;
    color: #6688dd;
  }
}


ul, ol {
  margin: 10px 0 0 0;
  padding: 0;
  
  li {
    margin: 0px 0px 10px 25px;
    padding: 0;
  }
}

.breadcrumb {
  margin-bottom: 25px;
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  
    li {
      display: inline;
      margin: 0;
      padding: 0;
      
      .arrow {
        font-size: 1.1em;
        font-weight: bold;
        color: #555599;
        padding: 0px 2px 0px 1px;
      }
    }
  }
}

.form {
  display:inline-block;
  padding: 5px 20px;
  border: 1px solid #bbbbbb;
  @include border-radius;
  @include box-shadow(0, 0, 5px, #aaaaaa);
  background-color: #e0e0ff;
}

label, .label-view {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  
  &:first-letter {
    text-transform: capitalize;
  }
}

.input {
  display: block;
  height: 24px;
  width: 200px;
  margin: 2px 0px;
  padding: 3px 6px;
  border: 1px solid #c4c4c4;
  @include border-radius;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.input-focus {
  outline: none;
  border: 1px solid #88bbff;
  @include box-shadow(0, 0, 5px, #88bbff);
}

input {
  &[type="button"], &[type="submit"] {
    margin: 20px 0px 10px 0px;
  }
  
  &[type="text"], &[type="password"] {
    @extend .input;
    
    &:focus {
      @extend .input-focus;
    }
  }
  
  &[type="checkbox"] {
    display: block;
    height: 24px;
    margin: 1px 0px 3px;
  }
}

select {
  @extend .input;
  padding: 1px 3px 1px 3px;

  &:focus {
    @extend .input-focus;
  }
}

.input-view {
  @extend .input;
  padding: 3px 7px;
  background-color: #f0f0f0;
}

.input-view-check-box {
    display: block;
    height: 23px;
    margin: 4px 0px 0px;
}

.check-box-image {
    margin-top: 1px;
}

$table-border: #aaaaaa;

table {
  border-spacing: 0;
  border: 1px solid $table-border;
  @include border-radius;
  @include box-shadow(0, 0, 5px, #aaaaaa);
  text-align: center;
}

th, td {
  padding: 7px;
  border-bottom: 1px solid $table-border;
  border-right: 1px solid $table-border;
  
  &:last-child {
    border-right: none;
  }
}

th {
  &:first-child {
    @include border-radius('', top-left);
  }
  &:last-child {
    @include border-radius('', top-right);
  }
  
  background-color: #e0e0ff;
}

tr:last-child td {
  border-bottom: none;
  
  &:first-child {
    @include border-radius('', bottom-left);
  }
  &:last-child {
    @include border-radius('', bottom-right);
  }
}

.clear {
  clear: both;
}


.page-show {
  margin-top: 30px;
  border-top: 1px solid #bbbbbb;
}

.decorated-image {
  padding: 4px;
  border: 1px solid #bbbbbb;
  @include border-radius;
  @include box-shadow(0, 0, 5px, #aaaaaa);
}

div.code {
  clear: both;
  padding: 3px 0 3px 0;
  
  p {
    display: inline;
    padding: 2px 5px;
    @include border-radius;
    background: #111111;
    color: #d0d0d0;
  }
}

div.code-error {
  width: 60%;
  margin-bottom: 15px;
  padding: 2px 5px 2px;
  @include border-radius;
  background: #111111;
  color: #ffffaa;
}

.steps {
  margin: 20px 0 0 0;
  
  li {
    margin: 10px 0px 20px 25px;
  }
  
  p {
    margin-top: 10px;
  }
}

span.code {
  padding: 0 3px;
  background: #bbbbbb;
  color: #222222;
}

/* page specific css */

.self-image {
  float: right;
  margin: 2px 60px 20px 75px;
}

.resume {
  clear: both;
  width: 275px;
  margin: 40px 0px 0px 25px;
  position: relative;
  
  span {
    position: absolute;
    left: -20px;
    padding: 6px 15px;
    
    border: 2px solid #ffffff;
    @include border-radius(20px);
    @include box-shadow(0, 0, 5px, #666666);
    background-color: #2a2a2a;
    text-align: center;
    font-size: 1.1em;
    font-weight: normal;
    color: #ffffff;
  }
  
  img {
    margin-top: 20px;
  }
  
  &:hover {
    .decorated-image {
        border: 1px solid #88bbff;
        @include box-shadow(0, 0, 7px, #88bbff);
    }
    
    span {
      @include box-shadow(0, 0, 8px, #999999);
      background-color: #404040;
      color: #ffffff;
    }
  }
}

.about-me-child-pages {
  margin-top: 40px;
  font-size: 1.2em;
  font-weight: normal;
  
  ul {
    margin: 0;
    padding: 0;
    
    li {
      margin: 0px 0px 25px 25px;
      padding: 0;
    }
  }
}


.work-experience-list {
  width: 740px;
  margin: 20px 15px;
  @include border-radius(7px);
  @include box-shadow(0, 0, 5px, #aaaaaa);
}
  
.work-experience-block {
  padding: 15px 15px;
  border-bottom: 1px solid #cfcfcf;
  
  &:last-child {
    border-bottom: none;
  }
}

.work-experience-position-block {
  float: left;
  width: 375px;
  height: 50px;
}

.work-experience-position {
}

.work-experience-duration {
  float: left;
  width: 155px;
}

.work-experience-title {
  float: left;
  font-weight: bold;
  color: #444444;
}

.work-experience-institution {
  float: left;
  width: 325px;
  font-weight: bold;
  color: #444444;
}

.work-experience-description {
  clear: both;
  padding-right: 10px;
}


.publication-list {
  width: 770px;
  margin: 20px 15px;
  @include border-radius(7px);
  @include box-shadow(0, 0, 5px, #aaaaaa);
}

.publication-block {
  padding: 15px 15px;
  border-bottom: 1px solid #cfcfcf;
  
  &:last-child {
    border-bottom: none;
  }
}
 
.publication-title {
  font-weight: bold;
  color: #444444;
  margin-bottom: 5px;
}

.publication-authors {
  margin-bottom: 7px;
  
  .author-emphasis {
    color: #4444aa;
    text-decoration: underline;
  }
}

.project-list {
  width: 770px;
  margin: 20px 15px;
  @include border-radius(7px);
  @include box-shadow(0, 0, 5px, #aaaaaa);
}
  
.toggle-all-display-div, .toggle-next-display-div {
  @extend a;
  
  &:hover {
    text-decoration: none;
  }
}
  
.project-block {
  padding: 15px 15px;
  border-bottom: 1px solid #cfcfcf;
  
  &:last-child {
    border-bottom: none;
  }
  
  .project-title {
    display: inline;
  }
  
  p {
    margin: 10px 0 0;
  }
    
  .toggle-next-display-div {
    display: inline;
    margin-left: 5px;
  }
}
 
.project-title {
  font-weight: bold;
  color: #444444;
  margin-bottom: 5px;
}

.project-screenshot {
  height: 620px;
  position: relative;
}
  
.screenshot {
  margin-top: 20px;
  border: 1px solid #bbbbbb;
  @include border-radius;
  @include box-shadow(0, 0, 7px, #aaaaaa);
}

#sunprism-scenario-manager {
    position: absolute;
    top: 0;
    left: 0;
}

#sunprism-visualizer {
    position: absolute;
    top: 220px;
    left: 220px;
}

#survey-builder-report {
  margin-left: 20px;
}

