<footer class="footer">

  <div class="copyright">
    Copyright &#169; 2012 Sohei Okamoto | All Rights Reserved
  </div>

<%
=begin
%>
  <nav>
    <%= link_to "Home", root_path %>
  </nav>
<%
=end
%>

</footer>
