<header class="navigation-bar">
  <%= link_to "Sohei Okamoto's Home", root_path, id: "logo" %>
  <nav>
    <% navigation_menus.each do |menu| %>
      <%= link_to menu.title, show_page_path(menu.url) %>
    <% end %>
  </nav>
</header>
