<% sibling_pages = visible_sibling_pages(params[:url]) %>
<% if !sibling_pages.nil? %>
  <nav>
    <ul>
      <% sibling_pages.each do |page| %>
        <li class="<%= 'current' if params[:url] == page.url %>">
          <%= link_to page.title, show_page_path(page.url) %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
